<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkazxx.multipartdatasourcemybatisplus.mapper.communitymapper.RecruitMapper">

  <select id="getByIdss" resultType="com.xkazxx.multipartdatasourcemybatisplus.entity.Recruit">
    select * from recruit where id = #{id}
  </select>

</mapper>
